@model IEnumerable<Cmp02.Entities.Tb_Maestras>

<table class="table table-bordered table-responsive table-hover" style="border-radius: 3px; -moz-box-shadow: 0 1px 2px #D6C9DB; -webkit-box-shadow: 0 1px 2px #D6C9DB; box-shadow: 0 1px 2px #D6C9DB; ">
    <thead class="tablahead" style="background-color: #D6C9DB; ">
        <tr>
            <th class="col-lg-1 text-center">Item</th>
            <th class="col-lg-8 text-center">Descripción</th>
            <th class="col-lg-3 text-center">Acción</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            int Count = 0;
            foreach (var item in Model)
            {
                Count++;
                <tr>
                    <td class="text-center">@Count</td>
                    <td>@item.Descripcion</td>
                    <td align="center">
                        <button class="btn btn-info btn-xs" title="Editar Maestra" onclick="fnEditar('@item.Id_Maestras');"><span class="glyphicon glyphicon-edit"></span>&nbsp</button>
                        <button class="btn btn-info btn-xs" title="Mostrar Detalle" onclick="fnMostrarDetalle('@item.Id_General');"><span class="glyphicon glyphicon-list"></span>&nbsp</button>
                        <button class="btn btn-danger btn-xs" title="Eliminar Maestra" onclick="fnEliminar('@item.Id_Maestras');"><span class="glyphicon glyphicon-trash"></span>&nbsp</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" style="color:red">No hay registros</td>
            </tr>
        }
    </tbody>
</table>

