@using Cmp02.Entities;
@using Cmp01.Utilities;
@model OrdenCompra
<script>
    $(document).ready(function ()
    {
        $("#btnAgregarArticulo").on("click", function ()
        {
            $.get(FullPathSrv + "Compras/BuscarModal", function (a) { modal = FullMsg.Modal({ title: "Buscar articulo", message: a, buttons: [{ label: "Guardar", className: "btn-primary", callback: function () { return Aceptar(), !1 } }, { label: "Cancelar", className: "btn-default", callback: function () { modal.modal("hide") } }] }), modal.modal("show") })
        });

        $("#btnGuardarDatos").on("click", function ()
        {
            if ($("#FullTbl tbody tr").length == 1)
            {
                FullMsg.Alert("Debe agregar artículos a la orden de compra");
            }
            else
            {
                var Obj = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
                Obj.Cabecera.Potype = $("#Tipo").val();
                Obj.Cabecera.Ponumber = $("#NroOrdenCompra").val();
                Obj.Cabecera.Buyerid = $("#Responsable").val();
                Obj.Cabecera.Userid = $("#Responsable").val();
                Obj.Cabecera.Docdate = $("#Fecha").val();
                Obj.Cabecera.Vendorid = $("#IdProveedor").val();
                Obj.Cabecera.Curncyid = $("#Moneda").val();

                var vCount = 0;
                $("#FullTbl tbody tr").each(function (index)
                {
                    if ($(this).find("td").eq(5).html() != null)
                    {
                        vCount = vCount + 1;
                        Obj.Detalle.push(
                            {
                                Potype: $("#Tipo").val(),
                                Ponumber:  $("#NroOrdenCompra").val(),
                                Docdate: $("#Fecha").val(),
                                Vendorid: $("#IdProveedor").val(),
                                Locncode: "@AppSession.Usuario.Consejo_Regional",
                                Linenumber: vCount,
                                Itemnmbr: $(this).find("td").eq(0).html(),
                                Quantity: parseInt($(this).find("td").eq(3).html()),
                                Unitcost: parseFloat($(this).find("td").eq(4).html()),
                                Uofm: $(this).find("td").eq(2).html(),
                                Curncyid: $("#Moneda").val(),
                                Total: (parseInt($(this).find("td").eq(3).html()) * parseFloat($(this).find("td").eq(4).html()))
                            });
                    }
                })


                $.ajax({
                    url: FullPathSrv + "Compras/GrabarCompra",
                    async: false,
                    type: "POST",
                    data: JSON.stringify(Obj),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    error: function (jqXHR, textStatus, errorThrown) 
                    {
                        alert(jqXHR + "-" + textStatus + "-" + errorThrown);
                    },
                    success: function (a, textStatus, jqXHR) 
                    {
                        "1" == a ? (FullMsg.Alert("Se envío correctamente"), setTimeout("Limpiar()",5000) ) : FullMsg.Alert("Ocurrio un error al procesar " + a) 
                    }
                });
            }  
        });
    })

    function Limpiar() { document.location = FullPathSrv + "Compras/OrdenCompra"};
</script>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Entrada de Orden de Compra
                </a>
            </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body" id="divFull">
                @using (Ajax.BeginForm("Comprobante", "Compras", new AjaxOptions { UpdateTargetId = "divCabecera", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { @id = "frmCabecera" }))
                {
                    <div id="divCabecera">
                        @Html.Partial("_OCCabecera")
                    </div>
                }

                <button type="button" class="btn btn-primary" id="btnAgregarArticulo">Agregar Articulo</button>
                <button type="button" class="btn btn-primary" id="btnGuardarDatos">Grabar Orden</button>
                <hr />
                @using (Ajax.BeginForm("DetalleGet", "Compras", new AjaxOptions { UpdateTargetId = "divDetalle", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @id = "frmDetalle" }))
                {
                    <div class="row">
                        <div class="col-md-12" id="divDetalle">
                            @Html.Partial("_OCDetalle")
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SubTotal" class="control-label col-md-4 input-sm">SubTotal:</label>
                            <div class="col-md-8">
                                @Html.TextBox("SubTotal", "0.00", new { @class = "form-control input-sm text-uppercase text-right", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Comercial" class="control-label col-md-4 input-sm">Dto. Comercial:</label>
                            <div class="col-md-8">
                                @Html.TextBox("Comercial", "0.00", new { @class = "form-control input-sm text-uppercase text-right", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Flete" class="control-label col-md-4 input-sm">Flete:</label>
                            <div class="col-md-8">
                                @Html.TextBox("Flete", "0.00", new { @class = "form-control input-sm text-uppercase text-right", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Miscelanios" class="control-label col-md-4 input-sm">Miscelánios:</label>
                            <div class="col-md-8">
                                @Html.TextBox("Miscelanios", "0.00", new { @id = "lblTotal", @class = "form-control input-sm text-uppercase text-right", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Impuesto" class="control-label col-md-4 input-sm">Impuesto:</label>
                            <div class="col-md-8">
                                @Html.TextBox("Impuesto", "0.00", new { @class = "form-control input-sm text-uppercase text-right", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Total" class="control-label col-md-4 input-sm">Total:</label>
                            <div class="col-md-8">
                                @Html.TextBox("Total", "0.00", new { @class = "form-control input-sm text-uppercase text-right", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
