@model Cmp02.Entities.Tb_Servicios


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="PlanImpuestosI" class="control-label col-md-4 input-sm">Id Dirección:</label>
            <div class="col-md-8">
                @Html.TextBox("PlanImpuestosI", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="PlanImpuestosD" class="control-label col-md-4 input-sm">Contacto:</label>
            <div class="col-md-8">
                @Html.TextBox("PlanImpuestosD", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="RazonSocial" class="control-label col-md-2 input-sm" style="width:16.1%;">Dirección:</label>
            <div class="col-md-10" style="width:83.9%;">
                @Html.TextBox("RazonSocial", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Departamento:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Provincia:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Distrito:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Código Postal:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Teléfono 1:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Teléfono 2:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Teléfono 3:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Fax:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">País:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Código País:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Plan de Impuestos:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Método de Envio:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Zona UPS:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.Id_Servicio)
@Html.HiddenFor(m => m.Opcional)
