@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", Style = "text-align:center" }))
    {
        @Html.AntiForgeryToken()

        <label style="font-size:14px;color:white;">@AppSession.Usuario.Consejo_Nombre</label>
        <br />
        <ul class="nav navbar-nav navbar-right">
            <li style="height:20px!important">
                @if (Session["Menu"] != null)
                {
                    @Html.ActionLink("HOLA " + User.Identity.GetUserName() + " ", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "Felpita", @style = "font-size:14px; padding-top:0;padding-bottom:5;", @title = ((List<Cmp02.Entities.Tb_Permiso>)Session["Menu"]).Count() > 0 ? ((List<Cmp02.Entities.Tb_Permiso>)Session["Menu"])[0].Perfil : "OmarcitoFull" })
                }
            </li>
            <li style="height:20px!important">
                <a href="javascript:document.getElementById('logoutForm').submit()" style="padding-top:0; padding-bottom:5; color: #FCB22B;font-size:16px;font-family:Calibri;">CERRAR SESIÓN</a>
            </li>
            
        </ul>


    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
