@using Cmp02.Entities;
@using Cmp01.Utilities;
@model ColegiadoMicro
<link href="~/Content/FullFile.css" rel="stylesheet" />
<script>
    $(document).ready(function ()
    {
        if ("@Model.Opcional" == "OK")
        {
            FullMsg.Alert("Se grabaron los datos correctamente"); if (parseInt("@Model.Edad") > 0) { $("#Edad").val("@Model.Edad") }
        }
        $("#Lugar_Nacimiento").autocomplete({ source: function (a, b) { $.getJSON(FullPathSrv + "Cliente/ListarUbigeo", { vOrigen: $("#Origen").val(), vValor: $("#Lugar_Nacimiento").val() }, b) }, minLength: 3, select: function (a, b) { $("#ID_UBIGEO").val(b.item.id) } });
        GetImagen(); GetFirma()
    })
    function GetImagen() { $("#DivImagen").append("<img style='height:200px; width:150px; object-fit:contain' src='" + "@Url.Action("Obtener_Imagen", "Colegiado", new { vId = Model.Id_Persona })" + "' alt=''>") }
    function GetFirma(){$("#DivFirma").append("<img style='height:50px; width:100%; object-fit:contain' src='"+"@Url.Action("Obtener_Firma", "Colegiado", new { vId = Model.Id_Persona })"+"' alt=''>")}
</script>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Colegiado" class="control-label col-md-3 input-sm">Código CMP:</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Colegiado, new { @class = "form-control input-sm text-uppercase", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Estado_Actual" class="control-label col-md-3 input-sm">Estado:</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Estado_Actual, new { @class = "form-control input-sm text-uppercase", @readonly = "readonly" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Apellido_Paterno" class="control-label col-md-3 input-sm">Apellido Paterno:</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Apellido_Paterno, new { @class = "form-control input-sm text-uppercase", @maxlength = "50" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Apellido_Materno" class="control-label col-md-3 input-sm">Apellido Materno:</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Apellido_Materno, new { @class = "form-control input-sm text-uppercase", @maxlength = "50" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Nombres" class="control-label col-md-3 input-sm">Nombres:</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control input-sm text-uppercase", @maxlength = "50" })
            </div>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Id_Tipo_Documento" class="control-label col-md-3 input-sm">Tipo de Documento:</label>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.Id_Tipo_Documento, new SelectList((List<Tb_Maestras>)ViewBag.LstDocumento, "ID_MAESTRAS", "DESCRIPCION", Model.Id_Tipo_Documento), "SELECCIONE", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Nro_Documento" class="control-label col-md-3 input-sm">Nro. Documento:</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Nro_Documento, new { @class = "form-control input-sm text-uppercase", @maxlength = "20" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Fecha_Nacio" class="control-label col-md-3 input-sm">Fecha Nacio:</label>
            <div class="col-md-9">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Fecha_Nacio, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm text-uppercase", @maxlength = "10", @readonly = "readonly" })
                    <span class="input-group-btn">
                        <button type="button" id="btnFechaNacio" disabled="disabled" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="float:right">
        <div class="form-group">
            <label class="control-label col-md-3 input-sm">Fotografía:</label>
            <div class="col-md-9">
                <div class="file-preview">
                    <div class="file-preview-frame" id="DivImagen">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="Edad" class="control-label col-md-3 input-sm">Edad:</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Edad, new { @class = "form-control input-sm text-uppercase", @maxlength = "2", @readonly = "readonly" })
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="Origen" class="control-label col-md-3 input-sm">Origen:</label>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.Origen, new SelectList((List<Tb_Maestras>)ViewBag.LstOrigen, "ID_MAESTRAS", "DESCRIPCION", Model.Origen), "SELECCIONE", new { @class = "form-control input-sm text-uppercase", @disabled = "disabled" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Lugar_Nacimiento" class="control-label col-md-3 input-sm">Lugar Nacimiento:</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Lugar_Nacimiento, new { @class = "form-control input-sm text-uppercase", @maxlength = "100", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label col-md-3 input-sm">Firma:</label>
            <div class="col-md-9">
                <div class="file-preview-frame text-center" id="DivFirma" style="height:50px;">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.Id_Persona)
@Html.HiddenFor(m => m.Id_Estado_Actual)
@Html.HiddenFor(m => m.Flg_Activo)
@Html.HiddenFor(m => m.Origen)