@using Cmp02.Entities
@model Cmp02.Entities.Tb_Correlativos

<script>
    $(document).ready(function () {
        if ("@Model.Opcional" == "OK")
        {
            modal.modal("hide");
            $("#frmParametro").submit();
        }

        $("#btnBuscarUsuario").on("click", function () {
            $("#Nombre_Completo, #Id_Personam, #Pagina").val("");
            $.post(FullPathSrv + "Usuario/BuscarUsuario", { vDocumento: 0, vNumero: $("#Nro_Documento").val() }, function (a) {
                $("#Nombre_Completo").val(a.Apellido_Paterno + " " + a.Apellido_Materno + ", " + a.Nombres);
                $("#Id_Persona").val(a.Id_Persona);
                if (a.IdConsejo_Actual != $("#Id_Sucursal").val()) {
                    FullMsg.Alert("La persona no esta asignada en este consejo regional, debe actualizar su consejo");
                    $("#Pagina").val("1");
                }
            })
        })
    });
</script>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Nro_Documento" class="control-label col-md-4 input-sm">Número de DNI:</label>
            <div class="col-md-8">
                <div class="input-group">
                    @Html.TextBox("Nro_Documento", "", new { @class = "form-control input-sm text-uppercase", @maxlength = "20" })
                    <span class="input-group-btn">
                        <button type="button" id="btnBuscarUsuario" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Id_Sucursal" class="control-label col-md-4 input-sm">Consejo Regional:</label>
            <div class="col-md-8">
                @Html.DropDownList("vId_Sucursal", new SelectList((List<Tb_Maestras>)ViewBag.LstConsejo, "ID_MAESTRAS", "DESCRIPCION", Model.Id_Sucursal), "SELECCIONE", new { @class = "form-control input-sm text-uppercase", @disabled = "disabled" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="Nombre_Completo" class="control-label col-md-2 input-sm" style="width:16.1%!important">Nombre Completo:</label>
            <div class="col-md-10" style="width: 83.9%!important">
                @Html.TextBox("Nombre_Completo", "", new { @class = "form-control input-sm text-uppercase", @readonly = "readonly" })
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.Id_Persona)
@Html.HiddenFor(m => m.Id_Tidodocumento)
@Html.HiddenFor(m => m.Id_Documento_GP)
@Html.HiddenFor(m => m.Id_Sucursal)
@Html.HiddenFor(m => m.Serie)
@Html.HiddenFor(m => m.Opcional)
@Html.HiddenFor(m => m.Pagina)
