@model Cmp02.Entities.Tb_Servicios

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="PlanImpuestosI" class="control-label col-md-4 input-sm">Moneda:</label>
            <div class="col-md-8">
                @Html.TextBox("PlanImpuestosI", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="PlanImpuestosD" class="control-label col-md-4 input-sm">Impuesto:</label>
            <div class="col-md-8">
                @Html.TextBox("PlanImpuestosD", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Tipo de Tasa:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Reg. de Impuesto:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Condición Pago:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Chequera:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Período Gracia Dscto.:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Perído Gracia Fecha:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Prioridad de Pago:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Pedido Mínimo:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Categoría:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">De Usuario:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Plan_U_M" class="control-label col-md-4 input-sm">Tipo de Impuesto:</label>
            <div class="col-md-8">
                @Html.TextBox("Plan_U_M", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">FOB:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="CostoEstandar" class="control-label col-md-4 input-sm">Idioma:</label>
            <div class="col-md-8">
                @Html.TextBox("CostoEstandar", "", new { @class = "form-control input-sm text-uppercase" })
            </div>
        </div>
    </div>
</div>



@Html.HiddenFor(m => m.Id_Servicio)
@Html.HiddenFor(m => m.Opcional)
