@using Cmp02.Entities;
@model IEnumerable<ColegiadoMin>

<table class="table table-bordered table-responsive table-hover" style="border-radius: 3px; -moz-box-shadow: 0 1px 2px #D6C9DB; -webkit-box-shadow: 0 1px 2px #D6C9DB; box-shadow: 0 1px 2px #D6C9DB; ">
    <thead class="tablahead" style="background-color: #D6C9DB; ">
        <tr>
            <th class="col-lg-0 text-center">Item</th>
            <th class="col-lg-1 text-center">DNI</th>
            <th class="col-lg-1 text-center">Nro. CMP</th>
            <th class="col-lg-3 text-center">Nombre Completo</th>
            <th class="col-lg-5 text-center">Dirección</th>
            <th class="col-lg-1 text-center">Fecha Termino</th>
            <th class="col-lg-1 text-center">Estado</th>
            <th class="col-lg-0 text-center">Acción</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            int Count = 0;
            foreach (var item in Model)
            {
                Count++;
                <tr>
                    <td class="text-center">@Count</td>
                    <td>@item.Nro_Documento</td>
                    <td>@item.Colegiado</td>
                    <td>@item.Nombre_Completo</td>
                    <td>@item.Direccion</td>
                    <td>@item.Fecha_Fin.ToShortDateString()</td>
                    <td>@item.Estado</td>
                    <td align="center">
                        @Html.CheckBox("FullActivar", false, new { @value = item.Id_Persona })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" style="color:red">No hay registros</td>
            </tr>
        }
    </tbody>
</table>
