@using Cmp02.Entities;
@using Cmp01.Utilities;
@model IEnumerable<ColegiadoMin>
<script>
    function fnMatricula(a) { document.location = FullPathSrv + "Colegiado/Registrar?vId=" + a }
    $(document).ready(function () {

        $("#btnFecha").click(function () {
            $("#vFecha").datepicker({ dateFormat: "dd/mm/yy", changeMonth: true, changeYear: true, constrainInput: !0, showButtonPanel: !0, autoSize: !0, showAnim: "slideDown" }),
            $("#vFecha").datepicker("show")
        });

        //$("#btnAgregar").on("click", function () { fnMatricula(0) })
        $("#btnLimpiar").on("click", function () { $("#vNombre").val(""), $("#vEstado").val("0"), $("#vConsejo").val("0"), $("#vFecha").val("@Variables.Hoy.ToShortDateString()") })

        $("#btnTodos").on("click", function () {
            $('input[name="FullActivar"]').each(function () {
                this.checked = !0
            });
            //$('input[name="FullActivar"]:checked').each(function ()
            //{
            //    alert($(this).val());
            //});
        });

        $("#btnNinguno").on("click", function () {
            $('input[name="FullActivar"]').each(function () { this.checked = !1 });
        });

        $("#btnActivar").on("click", function ()
        {
            FullMsg.Confirm("¿Seguro de procesar los pagos de planilla?", function (x)
            {
                if (x)
                {
                    var a = "";
                    $('input[name="FullActivar"]:checked').each(function () {
                        a += $(this).val() + ",";
                    });

                    $.get(FullPathSrv + "Bandeja/ActivarColegiados", { vIds: a }, function (b) {
                        if (b == "0")
                        {
                            FullMsg.Alert("Ocurrió un error en la lógica de negocio!");
                        }
                        else if (b == "2")
                        {
                            FullMsg.Alert("No selecciono ningun elemento!");
                        }
                        else {
                            $("#frmBandeja").submit();
                        }
                    })
                }
            })
        });
    });
</script>
<div class="panel-group" id="accordion">
    @using (Ajax.BeginForm("ListarDesabilitados", "Bandeja", new AjaxOptions { UpdateTargetId = "divDatos", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @id = "frmBandeja" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        Criterios de Búsqueda
                    </a>
                </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vConsejo" class="control-label col-md-3 input-sm">Por Consejo:</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("vConsejo", new SelectList((List<Tb_Maestras>)ViewBag.LstConsejo, "ID_MAESTRAS", "DESCRIPCION"), "TODOS", new { @class = "form-control input-sm text-uppercase" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vConsejo" class="control-label col-md-3 input-sm">Por Estado:</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("vEstado", new SelectList((List<Tb_Maestras>)ViewBag.LstEstado, "ID_MAESTRAS", "DESCRIPCION", (int)EnumEstado.PRE_EVALUACION), new { @class = "form-control input-sm text-uppercase" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vNombre" class="control-label col-md-3 input-sm">Por Medico o CMP:</label>
                                <div class="col-md-9">
                                    @Html.TextBox("vNombre", null, new { @class = "form-control input-sm toupper next", @placeholder = "Ingrese nombre, apellido, documento o número de colegiatura", @maxlength = "100" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vFecha" class="control-label col-md-3 input-sm">Fecha Nacimiento:</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        @Html.TextBox("vFecha", Variables.Hoy, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm text-uppercase", @maxlength = "10" })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnFecha" class="btn btn-default btn-sm">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" name="vBuscar" value="1" class="btn btn-primary btn-sm">Buscar</button>
                            <button type="button" class="btn btn-default btn-sm" id="btnLimpiar">Limpiar</button>
                            <button type="button" class="btn btn-default btn-sm" id="btnTodos">Todos</button>
                            <button type="button" class="btn btn-default btn-sm" id="btnNinguno">Ninguno</button>
                            <button type="button" class="btn btn-success btn-sm" id="btnActivar">Activar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        Resultados de la Búsqueda
                    </a>
                </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div id="divDatos" class="panel-body">
                    @Html.Partial("_DetalleDesabilitado", Model)
                </div>
            </div>
        </div>
    }
</div>



